<% layout('layout/boilerplate') -%>
<link
  rel="stylesheet"
  href="/stylesheets/showpage.css"
/>
<h1 class="text-center">All Recipes</h1>
<div class="row my-4">
  <!-- OLD ABOVE -->
  <% for (let recipe of recipes){ %>
  <div class="col-lg-4 mb-4 d-lg-flex">
    <div class="card">
      <div class="card-img">
        <% if(recipe.images.length) {%>
        <img
          src="<%=recipe.images[0].url  %>"
          class="img-fluid box"
          alt=""
        />
        <!-- src="https://res.cloudinary.com/dpakqvhn6/image/upload/c_scale,h_225,w_300/v1697812888/fi1ct54ag3cemzranouc.png" -->
        <% } else if(recipe.images.length == 0) { %>
        <img
          src="https://res.cloudinary.com/dpakqvhn6/image/upload/c_scale,h_250,w_350/v1697812888/fi1ct54ag3cemzranouc.png"
          class="img-fluid box"
          alt=""
        />
        <% } %>
      </div>
      <div class="card-body card-info">
        <h5 class="card-title"><%=recipe.title %></h5>
        <p class="card-text"><%=recipe.description %></p>
        <p class="card-text">by:<%=recipe.author.username %></p>
        <a
          class="btn btn-primary"
          href="/recipes/<%=recipe._id%>"
          >View <%=recipe.title%></a
        >
      </div>
    </div>
  </div>
  <% } -%>
</div>
